.approved {
  color: green;
}
.not-approved { color: red; }
.MuiDataGrid-root { background-color: #FFF; border-radius: 5px; box-shadow: 0 2px 10px #ddd; }
.table {
  table {
    background-color: #FFF;
    tr {
      img { border-radius: 50%; }
    }
  }
}