@import '../../../assets/scss/global-assets';

.grid-container {
  padding: 25px;
  width: 55%;
  margin: auto;
  > h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
  }
  .code {
    font-family: $code-font;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    margin: 10px 0;
    @include boxShadow();
  }
  .f-code { font-family: $code-font; }
  .grid-title {
    color: #1a202c;
    margin: 10px 0;
    font-size: 23px;
  }
  .pl { padding-left: 10px }
  h2 { display: none; }
  .grid-collection {
    margin-bottom: 10px;
    padding-bottom: 8px;
    &:not(:last-of-type) { border-bottom: 1px solid #ddd; }
  }
  :not(pre)>code[class*="language-"], pre[class*="language-"] {
    background-color: #353142 !important;
  }
  .color-red { background-color: rgba(222, 115, 115, 0.5) !important; color: $red-dark; font-weight: bold; }
  .color-blue { background-color: #ebb5e9 !important; color: #fb18df; font-weight: bold; }
  .color-green { background-color: rgba(133, 255, 158, 0.5) !important; color: $green-dark; font-weight: bold; }
  .color-orange { background-color: rgba(255, 181, 90, 0.5) !important; color: $yellow-dark; font-weight: bold; }
}
